body * {
    background-color: rgb(46, 90, 231);
    color:aliceblue;
    padding: 10px;
    max-width: 720px;
    outline: 2px solid turquoise;
    font-size: 14pt;
    margin: 10px;
}

body button {
    width: 45px;
    height: 45px;
    text-align: center;
}