body * {
    background-color: rgb(46, 90, 231);
    color:aliceblue;
    padding: 10px;
    outline: 2px solid turquoise;
    font-size: 14pt;
    margin: 10px;
}

body button {
    width: 45px;
    height: 45px;
    text-align: center;
}

.title {
    margin-right: auto;
}

/* .sim_area_button {
} */

body canvas {
    background-color: whitesmoke;
    padding: 0;
}

